:root {
  --dot-size: 6px;
  --dot-gap: 4px;
}

.loading-dot {
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 9999px;
  background-color: #fff;
  display: inline-block;
  animation: pulse 1s infinite ease-in-out;
}

.loading-dot + .loading-dot {
  margin-left: var(--dot-gap);
  animation-delay: 0.15s;
}

.loading-dot + .loading-dot + .loading-dot {
  animation-delay: 0.3s;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.htmx-request .htmx-indicator {
  display: inline-flex !important;
  align-items: center;
}
